!.mvn/wrapper/maven-wrapper.jar
/*/target

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Ansible ###
*.retry
/*/molecule/

### Log Files ###
*.gz

### Secret file ###
k8s/app/secret.yaml
k8s/app/*secret*.yaml

## Files created using templates ###
k8s/app/configmap.yaml
k8s/app/loadbalancer.yaml
k8s/app/replication-controller.yaml
k8s/app/init-deployment.yaml

*.DS_Store
